.container{
  display: grid;
  grid-template-columns: 350px auto auto auto;
  grid-template-rows: 2fr 3fr 3fr;
}
body{
  background-color: #cccccc;
}
.sidebar{
  background-color: #4287f5;
  grid-row: 1 /span 3;
  width: 300px;
  height: 100vh;
  border-radius: 5px;

  margin-left: 30px;
  box-sizing: border-box;
}
.sidebar  .top {
  display: flex;
  color: #ccc;
  position: absolute;
  top: 90px;
  font-family: Arial;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.sidebar .bottom{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: end;
  bottom: 50px;
  color: #ccc;
}

.sidebar h{
  font-size: xx-large;
  color:white;
}
.sidebar ul{
  list-style: none;
}
.sidebar li {
  padding: 25px 20px; /* Adjust padding as needed for spacing */
   /* Add a separator between items */
  cursor: pointer;
}
.sidebar li.active {
  color: white; /* Background color for the active item */
  font-size: larger;
  font-weight: bold;
}
.hdr {
  grid-column: 2 / span 3;

}
.hdr .header{
 display: flex;
  justify-content: space-between;

}
.hdr .header .left__content{
  color: black;
  font-weight: bold;
  font-family: Calibri;
  font-size: 40px;
  padding-left: 10px;

}
.hdr .header .right__content{
  font-size: 30px;
  margin-right: 40px;
}
.hdr .header .right__content input[type="search"] {
  border: none;
  background: whitesmoke;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: 5px;
}

.hdr .header .right__content input[type="search"]::placeholder {
  color: #bbb;
}
.hdr .header .right__content button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

.hdr .header .right__content button[type="submit"]:hover {
  opacity: 1;
}
.hdr .header .right__content .img{
  border-radius: 50%;
  margin: 8px;
  width: 40px;
  height: 40px;
}
.hdr .card_container{
  display: flex;
  position: relative;
   top:10px;
  justify-content: space-evenly;

}

.hdr .card_container .card{

  background-color: aliceblue;
  width: 220px;
  height: 100px;
  border-radius: 10%;
  border: solid 3px black;
  display: flex;
  padding-left: 20px;
  padding-top: 5px;
  flex-direction: column;
 font-family: Calibri;
  font-size: 30px;
}
.bar {

  grid-column: 2 /span 3;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  border-radius: 5px;
  border: solid 3px black;


}
.footer {
  grid-column: 2 /span 3;
  grid-row: 3 /span 1;

  display: flex;
  padding: 30px;
  justify-content: space-evenly;
  flex-direction: row;
}
.footer .doughnut{
  width:50vh;
  height:200px;
  background-color:white;
  border: solid 3px black;
  border-radius: 5%;

}
.footer .profile{
  width:50vh;
  height:200px;
  background-color:white;
  border: solid 3px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 5%;
}
.login {
  display: flex;
  justify-content: left;

}

.login .line{

  width: 100vh;
  height: 100vh;
  background-color: #4287f5;
  clip-path: polygon(0 0,95% 0,85% 100%,0% 100%);

}
.login .line .main{
  display: flex;
  justify-content: center;
   align-content: center;
  font-size: 16vh;
  font-family: Calibri;
  color: white;
  padding-top: 20vh;
  font-weight: bolder;
}
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
  }
  .hdr .card_container {
    display: grid;
    grid-template-rows: auto;
  }
  .bar{
    height: 50vh;
  }
.footer{
  display: grid;
  grid-template-columns: auto;
}

}
